boto3
botocore
certifi
charset-normalizer
click
dnspython
Flask
Flask-Cors
fuzzywuzzy
idna
importlib-metadata
itsdangerous
jellyfish
Jinja2
jmespath
joblib
Levenshtein
marisa-trie
MarkupSafe
numpy
pandas
pygtrie
pymongo
python-dateutil
python-dotenv
python-Levenshtein
pytz
rapidfuzz
requests
s3transfer
scikit-learn
scipy
six
threadpoolctl
urllib3
Werkzeug
zipp